.header {
    background: url('../img/home.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.top-content {
    text-align: center;
    background: #FFF;
    max-width: 700px;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 50px;
}

@media(max-width: 768px) {
    .top-content {
        position: relative;
        top: 0px;
        margin: auto;
        left: 0;
        right: 0;
        padding: 50px 30px;
        box-shadow: none;
    }
    .middle-content {
        margin-top: 0px !important;
    }
}

.top-content h2 {
    color: #b0944f
}

.top-content p {
    margin: 40px;
}

footer {
    background: #e6e6e6;
}

footer .container {
    margin-top: 100px;
    padding-bottom: 100px;
}

.circle .material-icons {
    border-radius: 50%;
    background: #d8c46e;
    font-size: 60px;
    padding: 40px;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    color: #b0944f;
}

.btn-outline-gold {
    color: #b0944f;
    background-color: transparent;
    background-image: none;
    border-color: #b0944f;
}

.btn-outline-gold:hover {
    color: #fff;
    background-color: #b0944f;
    border-color: #b0944f;
}

.btn-gold {
    color: #fff;
    background-color: #b0944f;
    border-color: #b0944f;
}

a,
a:hover {
    text-decoration: none;
}

.signin-margin {
    margin-top: 250px;
}

.signin-header {
    background: url('../img/Yala.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.room-header {
    background: url('../img/Room.jpg');
    background-size: cover;
    height: 50vh;
}